@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  /* @apply transition-colors duration-100 delay-0; */
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  @apply font-title;
}

body {
  @apply font-body min-h-screen bg-baby-pink text-burnt-gray dark:text-white;
}

hr {
  @apply !border-baby-peach;
}

.background {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
  background-image: radial-gradient(
      at 92% 22%,
      hsla(0, 100%, 91%, 1) 0px,
      transparent 30%
    ),
    radial-gradient(at 6% 5%, hsla(38, 100%, 88%, 1) 0px, transparent 30%),
    radial-gradient(at 50% 48%, hsla(233, 86%, 86%, 1) 0px, transparent 60%),
    radial-gradient(at 72% 100%, hsla(15, 100%, 97%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 100%, hsla(15, 100%, 97%, 1) 0px, transparent 50%);
  background-size: 200% 100vh;
  background-repeat: no-repeat;
  animation: backgroundAnimation 5s ease infinite alternate;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.dark {
  body {
    @apply bg-dark-cobalt;
  }
  hr {
    @apply !border-cobalt;
  }
  .background {
    background-image: radial-gradient(
        75.18% 75.18% at 3.42% 0%,
        #ffadad 0%,
        rgba(59, 60, 98, 0) 100%
      ),
      radial-gradient(
        39.03% 39.03% at 50% 60.97%,
        #7d7ebe 0%,
        rgba(125, 126, 190, 0) 100%
      ),
      radial-gradient(
        62.05% 61.61% at 90.3% 24.33%,
        #65959c 1.09%,
        rgba(101, 149, 156, 0) 100%
      ),
      linear-gradient(358deg, #3b3c62 1.52%, rgba(59, 60, 98, 0) 49.53%);
  }
}
